// Colours
$primary: #FF0000;
$secondary: #000000;
$tertiary: #979797;
$default: white;

// Typography
$fontWeight700: 700;
$fontWeight500: 500;
$fontWeight400: 400;
$fontMontserrat: 'Montserrat', Arial, Helvetica, sans-serif;
$fontRoboto: 'Roboto', Arial, Helvetica, sans-serif;
$fontMSourceCodePro: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

/// Break points
$breakpoints: (
        'small': (max-width: 768px),
        'medium': (max-width: 1024px),
        'large': (max-width: 1440px),
);

// Sélectionner le format 'large'
$large_breakpoint: map-get($breakpoints, 'large');

// Border radius
$defaultSmallRadius: .35em;

// Animations
$defaultDurationAnimation: .3s;

// Layout
$spaceContent: 3.5em;
