@use "src/styles/abstracts";

.side-nav {
  background-color: abstracts.$secondary;
  text-align: center;
  max-width: abstracts.$spaceContent * 1.8;

  ul {
    min-width: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    height: 92dvh;
    margin: 0;

    li {
      margin: 1em;
      background-color: abstracts.$default;
      width: 64px;
      height: 64px;
      position: relative;
      @include abstracts.borderRadius();

      img {
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .footer {
    position: absolute;
    transform: rotate(270deg);
    color: abstracts.$default;
    bottom: 10dvh;
    left: -2.75em;
  }
}
