@use "src/styles/abstracts";

.layout-content {
  display: flex;
  height: 100dvh;
  position: relative;

  .content {
    width: 100%;
    margin: (abstracts.$spaceContent * 2) abstracts.$spaceContent 3em abstracts.$spaceContent;
  }
}
