@use "src/styles/abstracts";

.layout {
  display: flex;
  .layout-content {
    .content {
      min-height: 90dvh;
      margin: (abstracts.$spaceContent / 2) abstracts.$spaceContent 0 abstracts.$spaceContent;
    }
  }
}
