@use "src/styles/abstracts";

header {
  background-color: #000000;
  padding: .75em 0;
  width: 100%;
  min-height: 3.5em;

  .top-nav {
    display: flex;

    img {
      width: 11em;
      object-fit: contain;
      margin: 0 abstracts.$fontSizeHigh;
    }

    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        color: abstracts.$default;;
        font-size: abstracts.$fontSizeHigh;
      }
    }
  }
}
