@use "../abstracts";

body {
  margin: 0;
  font-weight: abstracts.$fontWeight500;
}

p {
  &.announcement {
    font-weight: abstracts.$fontWeight400;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  margin: 1em auto;
  padding: 0 1em;
}
